<main>
    <div class="form-container">
        <form>
            <div>
                <h1>Sign in</h1>
            </div>
            <div>
                <input placeholder="Email or phone number" class="info" />
                <div *ngIf="!email?.valid && (email?.dirty || email?.touched)">
                    <p>Please enter a valid email</p>
                </div>
            </div>
            <div>
                <input placeholder="Password" class="info" />
                <div *ngIf="!password?.valid && (password?.dirty || password?.touched)">
                    <p>Your password must contain between 4 and 20 characters.</p>
                </div>
            </div>
            <button [disabled]="!loginForm?.valid">sign in</button>
            <div class="remember-help-container">
                <div class="remember">
                    <input type="checkbox" name="remember-me" value="remember me" checked id="checkbox" />
                    <span>Remember Me</span>
                </div>
                <div>
                    <a id="help">Need help?</a>
                </div>
            </div>

            <p class="signup">New to Notflix? <a id="signup" routerLink="/register-first">Sign up now</a></p>
            <p>
                This page is protected by Google reCAPTCHA to ensure you're not a
                bot. <a id="learnmore">Learn more.</a>
            </p>
        </form>
    </div>
</main>