<main>
    <div class="container">
        <p class="step">STEP 2 OF 3</p>
        <div>
            <h1>Choose the plan that’s right for you</h1>
            <div>
                <ul>
                    <li>
                        <img src="../../assets/checkedmark.svg">
                        Watch all you want.
                    </li>
                    <li>
                        <img class="checkMark" src="../../assets/checkedmark.svg">
                        Recommendations just for you.
                    </li>
                    <li>
                        <img class="checkMark" src="../../assets/checkedmark.svg">
                        Change or cancel your plan anytime.
                    </li>
                </ul>
            </div>
        </div>
        <div class="planGrid">
            <div class="planGrid-selector">
                <p></p>
                <div class="first-column box">
                    <p>Standard with ads</p>
                </div>
                <div class="second-column box">
                    <p>Standard</p>
                </div>
                <div class="third-column box">
                    <p>Premium</p>
                </div>
            </div>
            <table>
                <tbody>
                    <tr class="first_row">
                        <td>Monthly price</td>
                        <td class="plan-rate">$6.99</td>
                        <td class="plan-rate">$15.49</td>
                        <td class="plan-rate">$19.99</td>
                    </tr>
                    <tr>
                        <td>Video quality</td>
                        <td class="plan-rate">Great</td>
                        <td class="plan-rate">Great</td>
                        <td class="plan-rate">Best</td>
                    </tr>
                    <tr>
                        <td>Resolution</td>
                        <td class="plan-rate">1080p</td>
                        <td class="plan-rate">1080p</td>
                        <td class="plan-rate">4K+HDR</td>
                    </tr>
                    <tr>
                        <td> Watch on your TV, computer, mobile phone and tablet</td>
                        <td><img src="../../assets/checkedmark.svg"></td>
                        <td><img src="../../assets/checkedmark.svg"></td>
                        <td><img src="../../assets/checkedmark.svg"></td>
                    </tr>
                    <tr>
                        <td> Downloads</td>
                        <td><img src="../../assets/nonMark.svg"></td>
                        <td><img src="../../assets/checkedmark.svg"></td>
                        <td><img src="../../assets/checkedmark.svg"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="button-span"><button>Next</button></div>

    </div>
</main>