<main>
    <div class="container">
        <p>STEP 2 OF 3</p>
        <h1>Create a Username and Add your Tmdb Api_Key</h1>
        <p>Just a few more steps and you're done!</p>
        <p>We hate paperwork, too.</p>
        <form>
            <div class="username">
                <p>Username</p>
                <input type="string" placeholder="Add a username" formControlName="username">
            </div>
            <div class="api-key">
                <p>Tmdb Api_Key</p>
            <input type="string" placeholder="Add a Tmdb Api_Key" formControlName="api_key">
            </div>
            <button routerLink="/register-choose-plan">Next</button>
        </form>
    </div>
</main>