<main>
    <div class="container">
        <div class="card">
            <p class="header">Unlimited movies, TV shows, and more.</p>
            <p class="title">Watch anywhere. Cancel anytime. <a routerLink="/movie-list" class="moview-list">Movie List</a></p>
            <p class="subtitle">Ready to watch? Enter your email to create or restart your membership.</p>
            <div class="email-container">
                <input type="email" placeholder="Email address">
                <button>Get Started ></button>
            </div>
        </div>
    </div>
</main>
