<main>
  <div class="container">
      <p class="step">STEP 1 OF 3</p>
      <p class="title">Create a password to start your membership</p>
      <p class="description">Just a few more steps and you're done!</p>
      <p class="description">We hate paperwork, too.</p>
      <form [formGroup]="registerForm_1" (ngSubmit)="onSubmit()" novalidate>
          <input type="email" placeholder="Email" formControlName="email">
          <div *ngIf="!email?.valid && (email?.dirty || email?.touched)">
              <p class="error-message">Please enter an valid email!</p>
          </div>
          <input type="password" placeholder="Add a password" formControlName="password">
          <div *ngIf="!password?.valid && (password?.dirty || password?.touched)">
              <p class="error-message">Your password must contain between 4 and 20 characters!</p>
          </div>
          <button [disabled]="!registerForm_1.valid" routerLink="/register-second">Next</button>
      </form>
  </div>
</main>