<main>
    <div class="form-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <p class="title">Sign in</p>
            <input type="text" placeholder="Email" formControlName="email">
            <div *ngIf="!email?.valid && (email?.dirty || email?.touched)">
                <p id="error-message">Please enter a valid email</p>
            </div>

            <input type="password" placeholder="Password" formControlName="password">
            <div *ngIf="!password?.valid && (password?.dirty || password?.touched)">
                <p id="error-message">Your password must contain between 4 and 20 characters.</p>
            </div>
            <button type="submit" [disabled]="!loginForm.valid" 
                    [ngStyle]="{'background-color': !loginForm.valid ? 'rgb(165, 105, 96)':'rgb(205, 33, 7)'}"
                    >
                    sign in</button>
            <p *ngIf="loginMsg"> {{ loginMsg }}</p>
            <div class="remember-help-container">
                <div class="remember">
                    <input type="checkbox" name="remember-me" 
                    value="remember me" 
                    checked id="checkbox">
                    <p>Remember Me</p>
                </div>
                <a id="help">Need help?</a>
            </div>

            <p class="signup">New to Notflix? <a id="signup" [routerLink]="['/register']">Sign up now</a></p>
            <p>This page is protected by Google reCAPTCHA to ensure you're not a bot. <a id="learnmore">Learn more.</a>
            </p>
        </form>
    </div>
</main>